@media screen and (max-width: 748px) {
    section {
        padding: 0 2rem;
    }

    .container {
        min-height: 80vh;
    }

    .black-cover {
        height: 80vh;
        padding: 1rem 2rem;
    }

    .logo img{
        width: 100px;
    }

    .sign-in a {
        padding: 10px 15px;
    }

    .hero {
        margin-top: 5rem;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text>p {
        font-size: 16px;
    }

    .get-started form {
        flex-direction: column;
        gap: 1rem;
    }

    .get-started form input {
        width: 300px;
        padding: 15px 12px;
    }

    .get-started form a {
        display: inline-block;
    }

    /* SECTIONS */
    .section {
        flex-direction: column;
    }

    .info {
        text-align: center;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1rem;
    }

    .img-container img {
        width: 100%;
    }
    .third, .fifth{
        flex-direction: column-reverse;
    }

    /* SIXTH SECTION */
    .faq h1 {
        font-size: 2rem;
    }

    .quest p {
        font-size: 1.2rem;
    }

    .started2 {
        text-align: center;
    }

    .ul-lists {
        font-size: 13px;
        flex-wrap: wrap;
        gap: 1rem;
    }

}